/*
Theme Name: ACS
Author: ACS Nevers - Mock up by Julien Oudot
Description: Theme for the ACS Nevers blog
Version: 0.0.1
Tags:
*/
html,
body {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
html {
  font-size: 100%;
}
body {
  font-family: sans-serif;
  color: #605f5f;
}
a {
  text-decoration: none;
  color: #338cff;
  font-weight: bold;
}
a:hover {
  color: #d31f43;
}
#main-header {
  background-color: #d31f43;
}
.bg-code {
  background-image: url('img/bg-code.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 0.5rem;
}
#nbc {
  height: 6rem;
}
#primary {
  display: flex;
}
#sidebar {
  background-color: #f2f1f1;
  box-shadow: 3px 3px 5px #a8a5a6;
  box-sizing: border-box;
  width: 20%;
  padding: 2em;
}
#sidebar h4 {
  text-decoration: underline;
  margin-bottom: 0.5em;
}
.screen-reader-text,
#searchsubmit {
  display: none;
}
#s {
  width: 100%;
  box-sizing: border-box;
  padding: 0.7em;
}
#burger {
  position: relative;
  display: none;
  width: 2em;
  height: 2em;
  cursor: pointer;
}
#burger .burger-bar {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0;
  background-color: #d31f43;
  transition: all ease 0.5s;
}
#burger .burger-bar:nth-of-type(2) {
  top: 40%;
}
#burger .burger-bar:nth-of-type(3) {
  top: 80%;
}
#burger:hover .burger-bar {
  background-color: #ff305a;
}
#burger.active .burger-bar:first-of-type {
  transform: rotate(135deg);
  top: 40%;
}
#burger.active .burger-bar:nth-of-type(2) {
  transform: rotate(135deg);
}
#burger.active .burger-bar:nth-of-type(3) {
  transform: rotate(-135deg);
  top: 40%;
}
.wrapper {
  position: relative;
}
#burger-menu {
  position: absolute;
  max-height: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 3px 3px 5px #a8a5a6;
  overflow: hidden;
  transition: max-height ease 0.5s;
  z-index: 1;
}
#burger-menu.visible {
  max-height: 100vh;
}
.container {
  padding: 2em;
}
#sidebar li,
#burger-menu li {
  margin-bottom: 0.5em;
}
#sidebar li a,
#burger-menu li a {
  font-weight: normal;
}
.acs-logo {
  width: 100%;
  margin-top: 1.5em;
}
#main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 80%;
}
.blog-post {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 45%;
  box-sizing: border-box;
  border: 1px solid #707070;
  margin: 2em 0;
}
.blog-post.single {
  width: 60%;
}
.blog-post.single img {
  width: auto;
}
.blog-post img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.permalink {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 100%;
}
.blog-post-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.5em 1.5em;
}
.blog-post-title {
  text-align: center;
}
.blog-post-excerpt {
  flex-grow: 1;
}
.blog-post-meta {
  position: relative;
  border-top: 1px solid #707070;
  padding: 0.7em;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  #sidebar {
    width: 25%;
  }
  #main {
    width: 75%;
  }
  .blog-post.single {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .blog-post {
    width: 90%;
  }
  .blog-post.single {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .bg-code {
    background-image: url('img/bg-code_res.png');
  }
  #primary {
    flex-direction: column;
  }
  #sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em 2em;
  }
  #burger {
    display: block;
  }
  #other {
    display: none;
  }
  #main {
    width: 100%;
  }
}
